annotated-doc==0.0.4
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.12.0
click==8.3.1
cloudpickle==3.1.2
demucs==4.0.1
dora_search==0.1.12
einops==0.8.1
fastapi==0.128.0
filelock==3.20.1
fsspec==2025.12.0
gunicorn==23.0.0
h11==0.16.0
idna==3.11
Jinja2==3.1.6
julius==0.2.7
lameenc==1.8.1
MarkupSafe==3.0.3
mpmath==1.3.0
networkx==3.6.1
numpy==2.4.0
omegaconf==2.3.0
openunmix==1.3.0
packaging==25.0
pydantic==2.12.5
pydantic_core==2.41.5
python-multipart==0.0.21
PyYAML==6.0.3
retrying==1.4.2
setuptools==80.9.0
starlette==0.50.0
submitit==1.5.4
sympy==1.14.0
torch==2.9.1
torchaudio==2.9.1
tqdm==4.67.1
treetable==0.2.6
typing-inspection==0.4.2
typing_extensions==4.15.0
uvicorn==0.40.0
